<header>
  <a href="http://simba.hipperacademy.nl/">
    <img src="/images/foxfit_logo.png" alt="logo FoxFit" class="logo">
  </a>
  <h1>FoxFit Resultaten</h1>
  <nav>
    <ul>
      <a href="/beweging">
        <li>Beweging</li>
      </a>
      <a href="/gevoel">
        <li>Gevoel</li>
      </a>
      <a href="/dagdoelen">
        <li>Scores</li>
      </a>
      <a href="/beweging">
        <li>Voor de kinderen</li>
      </a>
      <a href="/over">
        <li class="about-button">Over het kind</li>
      </a>
    </ul>
  </nav>
</header>