<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/movement-graph.css' />
</head>

<body>
  <h1><%= title %></h1>
  <% include ./partials/graphs/movement.ejs %>
</body>

</html>