<!DOCTYPE html>
<html>
<% include partials/head.ejs %>

<body class="daygoal">
  <% include partials/header.ejs %>
  <main>
    <div class="container-select">
      <h1>Dagdoelen</h1>
      <select name="week" id="weeks">
        <option value="1">Week 1</option>
        <option value="2">Week 2</option>
        <option value="3">Week 3</option>
        <option value="4">Week 4</option>
        <option value="5">Week 5</option>
        <option value="6">Week 6</option>
        <option value="all">Alle weken</option>
      </select>
    </div>

    <div id="graph-container">

    </div>
  </main>
  <% include partials/footer.ejs %>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="/scripts/daygoal.js"></script>
</body>

</html>