<!DOCTYPE html>
<html lang="nl">
<% include partials/head.ejs %>

<body>
  <% include partials/header.ejs %>
  <main class="index">
    <div class="container-select">
      <h1>Handleiding</h1>
    </div>
    <section>
      <div class="container-title">
        <h2>Bewegingsgrafiek</h2>
      </div>
      <article>
        <img src="images/gifs/beweging_grafiek.gif" alt="Beweging">
        <h2>Beweging vergelijken</h2>
        <p>Met deze grafiek kan je gemakkelijk de beweging van het kind met verschillende weken bekijken, daarnaast kan je ook nog filteren op de activiteit door in de legenda op het vinkje te drukken.</p>
      </article>
      <article>
        <img src="images/gifs/datum_beweging_grafiek.gif" alt="Beweging">
        <h2>Datum en dag</h2>
        <p>Per week kun je aan de zijkant de dagen zien van de verschillende bars. Als je over de dag heen hovert dan krijg je de datum van die bar / dag te zien.</p>
      </article>
      <article>
        <img src="images/gifs/slider_beweging_grafiek.gif" alt="Beweging">
        <h2>Slider</h2>
        <p>Om het vergelijken makkelijker te maken kun je aan beide kanten van de grafieken een slider neerzetten. Met deze slider wordt er een lijn neergezet op dezelfde punten van de as. Om deze slider weg te halen kun je op "R" drukken.</p>
      </article>
    </section>

    <section>
      <div class="container-title">
        <h2>Gevoelsgrafiek</h2>
      </div>
      <article>
        <img src="images/gifs/gevoel_grafiek.gif" alt="Beweging">
        <h2>Gevoel en de beweging vergelijken</h2>
        <p>In deze grafiek wordt zichtbaar gemaakt hoe het kind zich per week voelde en hoeveel het kind elke week bewogen heeft. Zo kan de zorgverlener het effect van beweging op de gemoedstoestand van het kind waarnemen en dat per week inzien. De verschillende groepen in intensiteit kunnen in de grafiek uit en aangezet worden door de vakjes van de legenda aan te klikken.</p>
      </article>
      <article>
        <img src="images/gifs/gevoel_hover_grafiek.gif" alt="Beweging">
        <h2>Ochtend en avond gevoel</h2>
        <p>Door de muis over de verschillende staven van de onderste grafiek te bewegen, wordt het precieze cijfer voor elke ochtend en avond zichtbaar. Zo is, naast het verloop van de hele week, ook per dag het resultaat in te zien.</p>
      </article>
    </section>

    <section>
      <div class="container-title">
        <h2>Scoresgrafiek</h2>
      </div>
      <article>
        <img src="images/gifs/scores_grafiek.gif" alt="Beweging">
        <h2>Scores van alle weken</h2>
        <p>Met de scoresgrafiek kan je de scores van elke week vergelijken, er is ook een lijn om het dagdoel aan te geven. Om alle weken te vergelijken kan je in het dropdown menu "Alle weken" selecten.</p>
      </article>
    </section>

    <section>
      <div class="container-title">
        <h2>Reisgrafiek</h2>
      </div>
      <article>
        <img src="images/gifs/kinderen_grafiek.gif" alt="Beweging">
        <h2>Planeet ontdekken</h2>
        <p>Zodra elke week over is, wordt er een nieuwe planeet ontdekt. De opdrachtgever kan dan ook een trofee geven die dan boven de planeet komt te staan.</p>
      </article>
      <article>
        <img src="images/gifs/kinderen_hover_grafiek.gif" alt="Beweging">
        <h2>Scorevoortang</h2>
        <p>Er kan ook op een planeet geklikt worden, waarbij de week zichtbaar wordt en er een grafiek gemaakt wordt met het gevoel van de kinderen. Daarnaast kan je ook de bijbehorende trofee zien. Als de week voor de helft is afgemaakt dan wordt er alsnog een grafiek aangemaakt.</p>
      </article>
    </section>
    <!-- <div id="userdata-container">
      <h2>Gegevens</h2>
      <ul class="userdatalist">
        <li>
          ID: <span id="username" class="userdata"></span>
        </li>
        <li>
          pam ID: <span id="pamid" class="userdata"></span>
        </li>
        <li>
          Startdatum: <span id="startdate" class="userdata"></span>
        </li>
      </ul>
      <h2>Dagdoelen</h2>
      <ul id="daygoals" class="userdatalist">
      </ul>
    </div> -->
  </main>
  <% include partials/footer.ejs %>
  <script src="/scripts/index.js"></script>
</body>

</html>