<!DOCTYPE html>
<html lang="nl">
  <% include partials/head.ejs %>
<body>
  <% include partials/header.ejs %>
  <main>
  </main>
  <footer>
    <small>
      Deze applicatie is gemaakt door Kyle Bot, Giovanni Kaaijk en Lennart de Knikker
    </small>
  </footer>
  <script src="/scripts/index.js"></script>
</body>

</html>