<!DOCTYPE html>
<html lang="nl">
<% include partials/head.ejs %>

<body>
  <% include partials/header.ejs %>
  <main class="index">
    <div class="container-select">
      <h1>How to</h1>
    </div>
    <section>
      <div class="container-title">
        <h2>Bewegings grafiek</h2>
      </div>
      <article>
        <img src="images/gifs/beweging_grafiek.gif" alt="Beweging">
        <h3>Beweging vergelijken</h3>
        <p>Bij deze grafiekBij deze grafiekBij deze grafiekBij deze grafiekBij deze grafiekBij deze grafiekBij deze
          grafiekBij deze grafiekBij deze grafiek</p>
      </article>
      <article>
        <img src="images/gifs/datum_beweging_grafiek.gif" alt="Beweging">
        <h2>Datum en dag</h2>
        <p>Bij deze grafiekBij deze grafiekBij deze grafiekBij deze grafiekBij deze grafiekBij deze grafiekBij deze
          grafiekBij deze grafiekBij deze grafiek</p>
      </article>
      <article>
        <img src="images/gifs/slider_beweging_grafiek.gif" alt="Beweging">
        <h2>Slider</h2>
        <p>Bij deze grafiekBij deze grafiekBij deze grafiekBij deze grafiekBij deze grafiekBij deze grafiekBij deze
          grafiekBij deze grafiekBij deze grafiek</p>
      </article>
    </section>
    <section>
      <div class="container-title">
        <h2>Gevoel grafiek</h2>
      </div>
      <article>
        <img src="images/gifs/gevoel_grafiek.gif" alt="Beweging">
        <h3>Beweging vergelijken</h3>
        <p>Bij deze grafiekBij deze grafiekBij deze grafiekBij deze grafiekBij deze grafiekBij deze grafiekBij deze
          grafiekBij deze grafiekBij deze grafiek</p>
      </article>
      <article>
        <img src="images/gifs/gevoel_hover_grafiek.gif" alt="Beweging">
        <h2>Datum en dag</h2>
        <p>Bij deze grafiekBij deze grafiekBij deze grafiekBij deze grafiekBij deze grafiekBij deze grafiekBij deze
          grafiekBij deze grafiekBij deze grafiek</p>
      </article>
     
    </section>
    <section></section>
    <section></section>
    <!-- <div id="userdata-container">
      <h2>Gegevens</h2>
      <ul class="userdatalist">
        <li>
          ID: <span id="username" class="userdata"></span>
        </li>
        <li>
          pam ID: <span id="pamid" class="userdata"></span>
        </li>
        <li>
          Startdatum: <span id="startdate" class="userdata"></span>
        </li>
      </ul>
      <h2>Dagdoelen</h2>
      <ul id="daygoals" class="userdatalist">
      </ul>
    </div> -->
  </main>
  <% include partials/footer.ejs %>
  <script src="/scripts/index.js"></script>
</body>

</html>