<!DOCTYPE html>
<html>
<% include partials/head.ejs %>

<body>
  <% include partials/header.ejs %>
  <div class="container-select">
    <select id="weeks" class="select-left" name="week">
    </select>
    <select id="weeks" class="select-right" name="week">
    </select>
  </div>
  <div class="container-svg">
    <div class="container-legend">
      <svg class="legend"></svg>
    </div>
    <div class="container-graph">
      <svg class="svg"></svg>
      <svg class="svg2"></svg>
    </div>
  </div>

  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="/scripts/movement.js"></script>
</body>

</html>