<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="planets">
  <% include partials/head.ejs %>
    <div class="stars"></div>
    <div class="twinkling">
      <div class="rocket"><img src="/images/planets/rocket.svg" alt=""></div>
      <div class="bar-wrapper"><div class="cross"></div></div>
        <div id="grid">
            
        </div>
    </div>
  </div>
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <script src="/scripts/planets.js"></script>
</body>

</html>