<!DOCTYPE html>
<html>
  <% include partials/head.ejs %>
  <body class="planets">
    <% include partials/header.ejs %>
    <div class="stars"></div>
    <div class="twinkling">
      <div class="rocket"><img src="/images/planets/rocket.svg" alt=""></div>
      <div class="bar-wrapper">
        <div class="cross"></div>
        <div class="stars"></div>
        <div class="twinkling">
          <div id="graph-container">
          </div>
        </div>
        
      </div>
        <div id="grid">
            
        </div>
    </div>
  </div>
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <script src="/scripts/planets.js"></script>
</body>

</html>