<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="container-select">
      <select id="weeks" name="week">
      </select>
    </div>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/scripts/zorgverlener.js"></script>
  </body>
</html>
