:root {
  --font-main: 'Roboto', sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 500;

  --c-blue-dark: rgb(43, 116, 122);
  --c-blue: #3CC3B8;
  --c-blue-light: #9DD3CF;
  --c-blue-lightest: #DEF5F7;
  --c-white: white;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--c-blue-lightest);
  font-family: var(--font-main);
  color: white;
  overflow: hidden;
}

header {
  background-color: var(--c-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
  height: 2vh;
  position: relative;
  z-index: 3;
  margin: 0;
}

main {
  height: 89vh;
  overflow-y: auto;
  overflow-x: hidden;
}

header h1 {
  font-weight: var(--font-weight-light);
  color: var(--c-white);
  text-align: left;
  flex: 1;
  min-width: 12rem;
  font-size: 1.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}

h1 {
  font-weight: var(--font-weight-light);
}

header nav ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

header nav ul li {
  background-color: var(--c-white);
  padding: .5rem 1rem;
  min-width: 12rem;
  display: flex;
  justify-content: center;
  transition: all .1s ease;
  box-sizing: border-box;
}

header nav ul .active {
  background-color: var(--c-blue);
  color: white;
  cursor: default;
  font-weight: var(--font-weight-bold);
  border: 1px solid white;
}

header nav ul li:hover {
  background-color: var(--c-blue-dark);
  color: var(--c-white);
  font-weight: var(--font-weight-bold);
}

header nav ul .active:hover {
  background-color: var(--c-blue);
  color: white;
}

header nav a {
  color: var(--c-blue-dark);
  text-decoration: none;
  margin-right: 1rem;
}

header nav ul .about-button {
  background-color: var(--c-blue-dark);
  color: var(--c-white);
  min-width: 2rem;
  border-radius: 100%;
}


header nav ul .about-button-active {
  background-color: var(--c-blue);
  color: white;
  cursor: default;
  font-weight: var(--font-weight-bold);
  border: 1px solid white;
}

header nav ul .about-button-active:hover {
  background-color: var(--c-blue);
  cursor: default;
}

.logo {
  height: 6rem;
  position: relative;
  top: 2rem;
  left: 1rem;
}

text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
}

.container-select {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 9rem;
  background-color: var(--c-blue-dark);
}

#weeks {
  padding: 1.5em;
}

.checkbox {
  cursor: pointer;
}

.inactive .checkbox {
  transition: all 300ms;
  fill: #d3d3d3;
  stroke: grey;
}

.inactive .vinkje {
  transition: all 300ms;
  stroke: #d3d3d3;
}

.inactive-line {
  stroke: #d3d3d3;
}

.hidden {
  display: none;
}

body {
  padding: 0;
  margin: 0;
}

.index h1 {
  align-self: center;
}
.index h2,
.index h3 {
  font-weight: normal;
  color: rgb(19, 95, 89);
}

.index p {
  color: rgb(19, 95, 89);
}

.index section {
  margin: 5em;
  display: grid;
  grid-template-rows: 15% 85%;
  grid-template-columns: 1fr 1fr 1fr;
}

.index article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 33vw;
  margin: 2em;
}

.index article img {
  max-width: 25vw;
}
.container-title {
  grid-column: 1 / -1;
  text-align:center;
  font-size: 1.32em;

}
h2 {
  font-weight: var(--font-weight-regular);
}

#userdata-container {
  padding: 0 2rem;
}

.userdatalist {
  list-style-type: none;
  font-weight: var(--font-weight-bold);
}

.userdatalist li {
  padding: .1rem 0;
}

.userdata {
  font-weight: var(--font-weight-regular);
}

.planets {
  background-color: #4a4a49;
}

.planets {
  color: #fff;
}

.planets {
  max-height: 100vh;
}

.planets #grid {
  display: flex;
  justify-content: space-around;
}

.planets #grid img {
  max-width: 100%;
  height: 100px;
  display: block;
}

.planets #grid>div {
  position: relative;
}

.planets #grid img.outline {
  filter: invert(1);
}

.planets #grid>div:not(:first-of-type) img:last-of-type {
  cursor: pointer;
}

.planets #grid div:nth-last-of-type(2n + 2) {
  margin-top: 25vh;
}

.planets #grid div:nth-last-of-type(2n + 1) {
  margin-top: 45vh;
}

.planets #grid div {
  display: flex;
  flex-direction: column;
}

.planets #grid div .trophy {
  width: auto;
  height: 30px;
  margin: 10px auto;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

@-moz-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

@-ms-keyframes move-clouds-back {
  from {
    background-position: 0;
  }

  to {
    background-position: 10000px 0;
  }
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: 1;
}

.twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: 2;
  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.rocket img:not(.star) {
  width: 80px;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 2;
}

.rocket.transition img:not(.star) {
  transition: all 4s ease-in-out;
}

.rocket.planet-1 img:not(.star) {
  top: 42vh;
  left: 7%;
  transform: rotate(0deg);
}

.rocket.planet-2 img:not(.star) {
  top: 35vh;
  left: 21%;
  transform: rotate(60deg);
}

.rocket.planet-3 img:not(.star) {
  top: 47vh;
  left: 36%;
  transform: rotate(-20deg);
}

.rocket.planet-4 img:not(.star) {
  top: 35vh;
  left: 50%;
  transform: rotate(40deg);
}

.rocket.planet-5 img:not(.star) {
  top: 47vh;
  left: 65%;
  transform: rotate(0deg);
}

.rocket.planet-6 img:not(.star) {
  top: 34vh;
  left: 79%;
  transform: rotate(30deg);
}

.rocket.planet-7 img:not(.star) {
  top: 39vh;
  left: 93%;
  transform: rotate(0deg);
}

.star {
  position: absolute;
  transition: top .5s linear, left .5s linear, opacity .2s;
}

.star.fade {
  opacity: 0;
}

@media (max-width: 1160px) {
  header nav ul li {
    min-width: 5rem;
  }

}

label {
  margin: 2rem 1rem 2rem 2rem
}

#graph-container {
  width: 100vw;
  height: 60vh;
  box-sizing: border-box;

}

.graph {
  background: linear-gradient(#DEF5F7 50%, rgb(237, 250, 252) 50%);
}

.axis line,
.axis .domain {
  stroke: #9DD3CF;
  stroke-width: 2;
}

.bar-divider {
  stroke: #9DD3CF;
  stroke-width: 2;
  stroke-dasharray: none;
}

text {
  fill: rgb(19, 95, 89);
}

.feel-axis-y .tick:last-child,
.feel-axis-y .tick:nth-last-child(2) {
  display: none;
}

.planets {
  overflow: hidden;
}

.planets .bar-wrapper {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity .6s;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #fff;
  z-index: 1;
}

.planets .bar-wrapper.show {
  opacity: 1;
  pointer-events: unset;
}

.planets .bar-wrapper.show .cross:before,
.planets .bar-wrapper.show .cross:after {
  content: "";
  position: absolute;
  top: 80px;
  right: 30px;
  height: 20px;
  width: 2px;
  border-radius: 8px;
  background-color: #fff;
  z-index: 100;
}

.planets .bar-wrapper.show .cross:before {
  transform: rotate(45deg);
}

.planets .bar-wrapper.show .cross:after {
  transform: rotate(-45deg);
}

.bar-label {
  fill: white;

}

.bar-label {
  fill: white;
}

.planets .bar-wrapper.show svg.graph {
  background: none;
  margin: auto;
}

.planets .bar-wrapper.show #graph-container {
  width: 100%;
  height: 100vh;
  display: flex;
  margin: 0;
}

.planets .bar-wrapper.show svg.graph line {
  stroke: #fff;
  stroke-width: 2;
}

.planets .bar-wrapper.show svg.graph text {
  fill: #fff;
}

.planets .bar-wrapper.show svg.graph path {
  stroke: #fff;
}

.planets .bar-wrapper.show #graph-container .trophy {
  position: absolute;
  top: 18%;
  left: 82%;
  width: 100px;
}

.planets .weeknumber {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 14px;
  pointer-events: none;
}

#grid>div {
  height: 100%;
}

#grid>div.hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

.daygoal {
  background: linear-gradient(#DEF5F7 50%, rgb(237, 250, 252) 50%)
}

.daygoal #graph-container .graph {
  background: none;
}

.daygoal .container-select {
  display: flex;
  width: 100vw;
  background-color: var(--c-blue-dark);
  flex-direction: column;
}

.daygoal .container-select select {
  margin: 2em;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.daygoal select {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(222, 245, 247);
  ;
  color: rgb(19, 95, 89);
  font-size: 1.25em;
  font-weight: 500;
}

.daygoal select#weeks {
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em
}

.daygoal {
  overflow-x: hidden
}

.daygoal #graph-container svg {
  display: block;
  margin: 0 auto;
}

.daygoal #graph-container {
  width: unset;
}

.daygoal h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#select-week {
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: var(--c-blue-lightest);
  color: rgb(19, 95, 89);
  font-size: 1.25em;
  font-weight: 500;
}

#feeling-sub-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1rem;
  height: 8rem;
  background-color: var(--c-blue-dark);
}

#feeling-legend {
  width: 100vw;
  background-color: var(--c-blue-lightest);
  height: 5rem;
}

#legend-container {
  height: 5rem;
}

footer {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--c-blue-dark);
  position: fixed;
  z-index: 2;
  bottom: 0;
  width: 100%;
  padding: 0.2rem;
}

.github-logo {
  width: 2rem;
  margin-right: 1rem;
}

.main-planets {
  overflow-y: auto;
}

.cross::before, .cross::after {
  cursor: pointer;
}