<label for="select-week">Week</label>
<select name="select-week" id="select-week">
  <option value="0">0</option>
  <option value="0">1</option>
  <option value="0">2</option>
  <option value="0">3</option>
  <option value="0">4</option>
  <option value="0">5</option>
  <option value="0" selected="selected">6</option>
</select>
<div id="graph-container">
</div>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="/scripts/feeling.js"></script>