<div id="feeling-sub-header">
  <h1>Gevoelsscores bij beweging</h1>
  <select name="select-week" id="select-week">
    <option value="0">Week 0</option>
    <option value="0">Week 1</option>
    <option value="0">Week 2</option>
    <option value="0">Week 3</option>
    <option value="0">Week 4</option>
    <option value="0">Week 5</option>
    <option value="0" selected="selected">Week 6</option>
  </select>
</div>

<div id="feeling-graph-settings" class="hidden">
  <label for="licht">lichte inspanning
    <input type="checkbox" id="licht" name="licht" value="light" checked="checked" class="checkbox-level">
  </label>
  <label for="medium">medium inspanning
    <input type="checkbox" id="medium" name="medium" value="medium" checked="checked" class="checkbox-level">
  </label>
  <label for="zwaar">zware inspanning
    <input type="checkbox" id="zwaar" name="zwaar" value="heavy" checked="checked" class="checkbox-level">
  </label>
</div>

<div id="legend-container">
  <svg id="feeling-legend"></svg>
</div>
<div id="graph-container">
</div>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="/scripts/feeling.js"></script>