<div id="feeling-sub-header">
  <h1>Gevoelsscores bij beweging</h1>
  <label for="select-week">Week</label>
  <select name="select-week" id="select-week">
    <option value="0">0</option>
    <option value="0">1</option>
    <option value="0">2</option>
    <option value="0">3</option>
    <option value="0">4</option>
    <option value="0">5</option>
    <option value="0" selected="selected">6</option>
  </select>
</div>

<div id="feeling-graph-settings">
  <label for="licht">lichte inspanning</label>
  <input type="checkbox" id="licht" name="licht" value="light" checked="checked" class="checkbox-level">
  <label for="licht">medium inspanning</label>
  <input type="checkbox" id="medium" name="medium" value="medium" checked="checked" class="checkbox-level">
  <label for="licht">zware inspanning</label>
  <input type="checkbox" id="zwaar" name="zwaar" value="heavy" checked="checked" class="checkbox-level">
</div>

<div id="graph-container">
</div>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="/scripts/feeling.js"></script>